VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_CAL_STANDARD_URL=
VITE_CAL_TEST_PREP_URL=
VITE_CAL_AP_DIRECT_URL=
VITE_STRIPE_LINK_STANDARD_4=
VITE_STRIPE_LINK_STANDARD_8=
VITE_STRIPE_LINK_STANDARD_12=
VITE_STRIPE_LINK_TEST_PREP_4=https://buy.stripe.com/5kQ8wP4be99o2W08w50sU0c
VITE_STRIPE_LINK_TEST_PREP_8=https://buy.stripe.com/cNi3cvbDG2L0bswdQp0sU0b
VITE_STRIPE_LINK_TEST_PREP_12=https://buy.stripe.com/14AfZhazCfxMfIM9A90sU0d
VITE_STRIPE_LINK_ADMISSIONS_PACKAGE=https://buy.stripe.com/dRm14n0Z25Xc8gkbIh0sU0a
VITE_STRIPE_LINK_AP_DIRECT_4=
VITE_STRIPE_LINK_AP_DIRECT_8=
VITE_STRIPE_LINK_AP_DIRECT_12=

# Supabase function secrets:
# STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=
# RESEND_API_KEY=
# FROM_EMAIL=
# SITE_URL=
# CAL_WEBHOOK_SECRET=
