VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_CAL_STANDARD_URL=
VITE_CAL_TEST_PREP_URL=
VITE_CAL_AP_DIRECT_URL=

# Supabase function secrets
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
SITE_URL=
RESEND_API_KEY=
FROM_EMAIL=
CAL_WEBHOOK_SECRET=
STRIPE_MONTHLY_PRICE_STANDARD_4=price_1TfvReI3oMAvo1GDNESS0Ot5
STRIPE_MONTHLY_PRICE_STANDARD_8=price_1TfvReI3oMAvo1GD2H3RFUxB
STRIPE_MONTHLY_PRICE_STANDARD_12=price_1TfvRfI3oMAvo1GDfHPtyKUX
STRIPE_MONTHLY_PRICE_TEST_PREP_4=price_1TfvRfI3oMAvo1GDuG5x25wu
STRIPE_MONTHLY_PRICE_TEST_PREP_8=price_1TfvRgI3oMAvo1GD2KaYLOVs
STRIPE_MONTHLY_PRICE_TEST_PREP_12=price_1TfvRgI3oMAvo1GDe3eLukmY
STRIPE_MONTHLY_PRICE_AP_DIRECT_4=price_1TfvRhI3oMAvo1GDP7tUr99q
STRIPE_MONTHLY_PRICE_AP_DIRECT_8=price_1TfvRhI3oMAvo1GDiby3JBOD
STRIPE_MONTHLY_PRICE_AP_DIRECT_12=price_1TfvRiI3oMAvo1GDRoiUykvB
